html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  background: #000;
  color: #fff;
  font-family: como, sans-serif !important;
  font-style: normal;
  font-weight: 200;
}

img {
  width: 100%;
  height: auto;
}

main {
  color: #fff;
}

p,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin: 0;
}

.wrapper {
  background: #292929;
  min-height: 800px;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
}

.header {
  margin-bottom: 3rem;
  &__inner {
    padding: 1.6rem 0;
    .title {
      text-align: left;
      letter-spacing: 0.2rem;
      font-size: 2.4rem;
    }
  }
}

.langSelect {
  display: flex;
  justify-content: space-between;
  &__col {
    width: 49%;
  }
  &__select {
    background: #fff;
    height: 50px;
    border: none;
  }
}

.translateCol {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.translateForm__box {
  border-radius: 10px;
}

.translateForm__box.select {
  background: #fff;
}

.translateForm {
  width: 49%;
  &__box {
    font-size: 3rem;
    padding: 2rem;
    height: 130px;
    width: 100%;
    box-sizing: border-box;
    background: #efefef;
    border: 0;
  }
  &__text {
    color: #000;
  }
}

.searchword {
  padding: 2rem 0;
  font-size: 4rem;
}

.giphy__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  .giphy__item {
    width: 23%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 300px;
    margin-bottom: 3rem;
    border-radius: 10px;
    a {
      text-decoration: none;
    }
    .giphy__title {
      color: #fff;
      line-height: 2.5rem;
      padding: 1rem 0;
    }
  }
}

.js-copytextarea {
  width: 1px;
  height: 1px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.btn__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 0 0 10px 0;
}

.btn__copy:hover {
  transition-duration: 0.5s;
  background: palevioletred;
  color: #fff;
}

.clipboard {
  position: fixed;
  width: 100%;
  text-align: center;
  animation: shrinkBar 1s ease 0s 1 normal forwards running;
  z-index: 10;
  .clipboard-inner {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
  }
  .clipboard__text {
    font-size: 2rem;
    padding: 1rem;
    background: palevioletred;
  }
  .clipboard__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
}

@keyframes shrinkBar {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

.footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 4rem;
}

@media (max-width: 640px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .title {
    padding-left: 1rem;
  }
  .langSelect__select {
    width: 100%;
  }
  .searchForm__input {
    min-height: auto !important;
  }
  .translateCol {
    display: block;
  }
  .translateForm {
    width: 100%;
    margin-bottom: 1rem;
    &__box {
      height: 45px;
      font-size: 1.5rem;
      padding: 1rem;
      display: flex;
    }
  }

  .searchword {
    margin-left: 1rem;
  }
  .giphy__list {
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .giphy__item {
      flex: 0 0 80%;
      background-size: cover;
      background-position: center;
      height: 0;
      min-height: 200px;
      border-radius: 0%;
      margin: 0;
      margin-right: 2%;
    }
  }
  .clipboard {
    .clipboard-inner {
      width: 100%;
      height: auto;
    }
    .clipboard__image {
      display: none;
    }
  }
}
