html { 
  font-size: 62.5%; 
}

body {
  font-size: 16px;
  background: #000;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

main {
  color: #fff;
}

p,ul,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin: 0;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.header {
  padding: 1rem 0;
}

.header-inner {
  padding: 1.6rem 0;
}

.searchBox {
  display: flex;
}

.search {
  flex: 1;
  display: table;
  background: whitesmoke;
}

.searchForm {
  display: table-cell;
  vertical-align: middle;
  height: 360px;
  text-align: center;
}

.search-input {
  font-size: 50px;
  padding: 2rem;
}

.search-button {
  width: 62px;
  height: 62px;
  cursor: pointer;
  background: #34b750;
  color: #fff;
  border: none;
}

.errorMs {
  font-size: 2.5rem;
  margin-top: 3rem;
}

.definition {
  flex: 1;
  color: #333;
  display: table;
}

.definition__box {
  display: table-cell;
  vertical-align: middle;
  height: 360px;
  background: #b1b1b1;
  padding: 0 3rem;
}

.definition__title {
  margin-bottom: 2rem;
}

.definition__item {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.topics {
  display: flex;
  overflow: hidden;
  margin: 4rem 0;
}

.topics__item {
  position: relative;
  border: solid 12px black;
  box-shadow: 0 10px 0 0 #000 inset;
}

.topics__item:first-child {
  background: aquamarine;
}
.topics__item:first-child img {
  box-shadow: 8px 8px aquamarine;
}
.topics__item:first-child .topics__title {
  background: aquamarine;
} 
.topics__item:nth-child(2) {
  background: magenta;
}
.topics__item:nth-child(2) img {
  box-shadow: 8px 8px magenta;
}
.topics__item:nth-child(2) .topics__title {
  background: magenta;
} 
.topics__item:nth-child(3) {
  background: salmon;
}
.topics__item:nth-child(3) img {
  box-shadow: 8px 8px salmon;
}
.topics__item:nth-child(3) .topics__title {
  background: salmon;
} 
.topics__item:nth-child(4) {
  background: yellowgreen;
}
.topics__item:nth-child(4) img {
  box-shadow: 8px 8px yellowgreen;
}
.topics__item:nth-child(4) .topics__title {
  background: yellowgreen;
} 
.topics__item:last-child {
  background: slateblue;
}
.topics__item:last-child img {
  box-shadow: 8px 8px slateblue;
}
.topics__item:last-child .topics__title {
  background: slateblue;
} 

.topics__item img:hover {
  opacity: 0;
}

.topics__title {
  position: absolute;
  color: #fff;
  font-size: 2.5rem;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 0 1rem;
}

.topics__image {
  cursor: pointer;
}

.footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 4rem;
}

.title {
  text-align: left;
  letter-spacing: 0.5rem;
  font-size: 3.2rem;
}

.searchword {
  padding: 2rem 0;
  font-size: 5rem;
}

.giphy__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.giphy__item {
  width: 33.3%;
}

.giphy__item a {
  text-decoration: none;
}

.giphy__title {
  color: #fff;
  line-height: 2.5rem;
  padding: 1rem 0;
}